.available-match {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-right: 4rem;
}
.available-match .match-image {
  align-self: center;
  width: 26.3rem;
  height: 33.9rem;

  border-radius: 1rem;
  margin-bottom: 2.7rem;
}

.available-match .match-image:hover {
}

.available-match .match-local {
  margin-left: 2.2rem;
}
