#available-matches-list-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  list-style-type: none;

  overflow-x: auto;

  margin-left: 9.31%;
}
#available-matches-list-container::-webkit-scrollbar {
  width: 0;
}

#available-matches-list-container .match-creation-card-list-item {
  align-self: flex-start;
}
