#declare-button-container {
  width: 20rem;
  height: 2.8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;

  font-family: "Roboto Mono", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  color: white;

  overflow: wrap;

  position: relative;
}

#declare-button-container {
  background-color: var(--laranja-escuro);
}

#declare-button-container:hover {
  cursor: pointer;
  box-shadow: 0px 3px 20px rgba(254, 85, 26, 0.5);
}