#ongoing-match-card-container {
  width: 101rem;
  height: 20.4rem;

  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--azul-escuro);
  border-radius: 1rem;
}

#ongoing-match-card-container > h3 {
  position: absolute;
  top: 2.6rem;
  left: 5.1rem;

  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  color: var(--verde-limao);
}

#ongoing-match-card-container > .ongoing-match-card-participants-container {
  width: auto;
  height: 8.2rem;
  max-height: 8.2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 0 5.4rem;
}

#ongoing-match-card-container > span {
  font-family: "Roboto Mono", sans-serif;
  font-weight: bold;
  font-size: 7.2rem;

  -webkit-user-select: none;
  -moz-user-select: none;

  color: white;
}

#ongoing-match-card-container .ongoing-match-card-time-section {
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  right: 5.4rem;
}

#ongoing-match-card-container .ongoing-match-card-time-section > h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2.4rem;

  color: white;

  margin-bottom: 2.2rem;
}
