#small-queue-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: auto;
  height: 13rem;

  margin-right: 8.5rem;
  padding-right: 0.3rem;

  overflow-y: auto;
}

#small-queue-list-container > li {
  margin-bottom: 0.6rem;
}

#small-queue-list-container::-webkit-scrollbar {
  width: 12px;
}

#small-queue-list-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);

  border-radius: 10px;
}

#small-queue-list-container::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--cinza-claro);
}
