.match-creation-card-container {
  width: 26.3rem;
  height: 33.9rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--azul-escuro);

  border-radius: 1rem;
  box-shadow: 0px 5px 15px 3px var(--azul-escuro);
  position: relative;
}

.match-creation-card-container .default-stage-title,
.match-creation-card-container .default-stage-message {
  color: white;
}
.match-creation-card-container .default-stage-title {
  margin-top: 15.21%;
  margin-bottom: 12%;

  font-family: "Roboto Mono", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
}
.match-creation-card-container .default-stage-message {
  width: 18.4rem;
  height: 10rem;

  margin-bottom: 15.21%;

  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2rem;
}

.match-creation-card-container .stage-progression {
  align-self: flex-end;

  position: absolute;
  top: 2rem;
  right: 2rem;

  font-family: "Roboto Mono", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;

  color: white;
}

.match-creation-card-container #skip-stage-button {
  background-color: transparent;

  font-family: "Roboto Mono", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;

  color: white;
  transition: opacity 0.7s;
  margin-top: 0.9rem;
}

.match-creation-card-container #skip-stage-button:hover {
  cursor: pointer;

  opacity: 0.8;
}

.match-creation-card-container .third-stage-message {
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: white;

  width: 22.2rem;
  max-height: 11rem;

  margin-bottom: 3rem;
}

.match-creation-card-container .third-stage-message .third-stage-emphasis {
  font-weight: 600;
}
.match-creation-card-container-hoverable {
  background-color: var(--cinza-medio);
  transition: background-color 0.7s;
}
.match-creation-card-container-hoverable:hover {
  background-color: var(--azul-escuro);
}
