.landing-login-button-container {
  max-width: 17.5rem;
  width: 17.5rem;
  height: 5.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto Mono", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;

  border-radius: 5rem;
  transition: opacity 0.7s;
}

.landing-login-button-container:hover {
  cursor: pointer;
  opacity: 0.7;
}
